@using GAM.Models.Enums
@model List<GAM.Models.Questionarios.Resposta>
@{
    ViewData["Title"] = "Preview";
}

<h2>Previsualizar</h2>
<div>
    <h4>Questionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <form asp-action="EditQuestionario">
            @Html.Hidden("DadorId",Model[0].DadorId)
            @Html.Hidden("respostasJson")
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-7">
                        
                        @Html.Label("Pergunta", "Pergunta")
                    </th>
                    <th class="col-md-4">@Html.Label("Resposta", "Resposta")</th>
                </tr>
                </thead>
                <tbody>
                @{
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <th class="col-md-7" scope="row">
                                @Html.Hidden("PerguntaId"+i,Model[i].PerguntaId, new{@class="perguntaid"})
                                @Html.Hidden("RespostaId"+i,Model[i].RespostaId, new{@class="respostaid"})
                                @Html.Label("Pergunta", Model[i].Pergunta.Descricao)
                            </th>
                            <td class="col-md-4">
                                @if (Model[i].Pergunta.TipoResposta == TipoRespostaEnum.RespostaAberta)
                                {
                                    @Html.TextBox("Resposta_" + i, Model[i].TextoResposta, new { @class = "resposta" })
                                }
                                else
                                {
                                    <div>
                                        @if (Model[i].TextoResposta == "" || Model[i].TextoResposta == "Sim")
                                        {
                                            @Html.RadioButton("Resposta_" + i, "Sim", new {@Class = "resposta", id = Model[i].PerguntaId + "_SIM", @checked = "checked"})
                                        }
                                        else
                                        {
                                            @Html.RadioButton("Resposta_" + i, "Sim", new { @Class = "resposta", id = Model[i].PerguntaId + "_SIM"})
                                        }
                                        <label for='@(Model[i].PerguntaId + "_SIM")'>Sim</label>
                                    </div>
                                    <div>
                                        @if ( Model[i].TextoResposta == "Nao")
                                        {
                                            @Html.RadioButton("Resposta_" + i, "Nao", new {@Class = "resposta", id = Model[i].PerguntaId + "_NAO", @checked = "checked" })
                                        }
                                        else
                                        {
                                            @Html.RadioButton("Resposta_" + i, "Nao", new {@Class = "resposta", id = Model[i].PerguntaId + "_NAO"})
                                        }
                                        <label for='@(Model[i].PerguntaId + "_NAO")'>Não</label>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                }

                </tbody>
            </table>
            <div class="form-group">
                <button  type="button" class="btn btn-default" onclick="SubmitForm()">Create</button>
                <input type="submit" value="Create" class="btn btn-default hidden"/>
            </div>
            </form>
</dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function SubmitForm() {
        //validate
        var isValid = false;

        var array = [];
        $('table tbody tr').each(function (index, elem) {
            var resposta = $('input[name=' + $(elem).find(".resposta").attr('name') + ']:checked').val();
            if (resposta == undefined)
                resposta = $('input[name=' + $(elem).find(".resposta").attr('name') + ']').val();
            var question = {
                PerguntaId: $(elem).find(".perguntaid").val(),
                TextoResposta: resposta,
                RespostaId: $(elem).find(".respostaid").val(),
                DadorId: $("#DadorId").val()
            };
            array.push(question);
        });

        if (array.length > 0)
            isValid = true;
        if (isValid) {
            $('#respostasJson').val(JSON.stringify(array));
            $('form').submit();
        } else {
            alert('Dados Invalidos');
        }


    }

</script>
