@model GAM.Models.Laboratorio.ResultadoAnalise

@{
    ViewData["Title"] = "Edit";
}

<h2>Resultados Análises</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResultadoAnaliseId" />
            <input type="hidden" asp-for="Data" />


            @foreach (var analise in Model.Analises)
            {
                <h3>Análise: @Html.DisplayFor(modelItem => analise.Nome)</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Método
                            </th>
                            <th>
                                Interpretação -
                            </th>
                            <th>
                                Interpretação +
                            </th>
                            <th>
                                Valores Referência -
                            </th>
                            <th>
                                Valores Referência +
                            </th>
                            <th>
                                Resultado Numérico
                            </th>
                            <th>
                                Resultado
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var metodo in analise.Metodos)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => metodo.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => metodo.InterpretacaoNeg)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => metodo.InterpretacaoPos)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => metodo.ValorReferenciaNeg)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => metodo.ValorReferenciaPos)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => metodo.ResultadoNumerico)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => metodo.Resultado)
                                </td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <hr />

            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
