@model GAM.Models.DadorViewModels.Dador
@{
    ViewData["Title"] = "Edit";
}
<h2>Validação de Dados</h2>
<h4>Dador</h4>
<hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DadorId" />
            <input type="hidden" asp-for="Nome" />
            <input type="hidden" asp-for="Morada" />
            <input type="hidden" asp-for="DataNasc" />
            <input type="hidden" asp-for="LocalNasc" />
            <input type="hidden" asp-for="DocIdentificacao" />
            <input type="hidden" asp-for="Nacionalidade" />
            <input type="hidden" asp-for="Profissao" />
            <input type="hidden" asp-for="GrauEscolaridade" />
            <input type="hidden" asp-for="EstadoCivil" />
            <input type="hidden" asp-for="Altura" />
            <input type="hidden" asp-for="Peso" />
            <input type="hidden" asp-for="CorPele" />
            <input type="hidden" asp-for="CorOlhos" />
            <input type="hidden" asp-for="CorCabelo" />
            <input type="hidden" asp-for="TexturaCabelo" />
            <input type="hidden" asp-for="GrupoSanguineo" />
            <input type="hidden" asp-for="Etnia" />
            <input type="hidden" asp-for="IniciaisDador" />
            <input type="hidden" asp-for="FaseDador" />
            <input type="hidden" asp-for="EstadoDador" />
            <input type="hidden" asp-for="NumAbortos" />
            <input type="hidden" asp-for="TotalGestacoes" />
            <div>
                <dl class="dl-horizontal section">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#" style="background:#f2f2f2"><b>Dados pessoais</b></a></li>
                    </ul>
                    <p></p>

                    <div class="row">
                        <div class="col-md-2">
                            <b> @Html.DisplayNameFor(model => model.Nome)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.Nome)
                        </div>
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.Morada)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.Morada)
                        </div>
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.DataNasc)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.DataNasc)
                        </div>
                    </div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <div class="row">
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.LocalNasc) </b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.LocalNasc)
                        </div>
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.DocIdentificacao) </b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.DocIdentificacao)
                        </div>
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.Nacionalidade)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.Nacionalidade)
                        </div>
                    </div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <div class="row">
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.Profissao)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.Profissao)
                        </div>
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.GrauEscolaridade)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.GrauEscolaridade)
                        </div>
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.EstadoCivil)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.EstadoCivil)
                        </div>
                    </div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#" style="background:#f2f2f2"><b>Dados físicos</b></a></li>
                    </ul>
                    <p></p>
                    <div class="row">
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.Altura)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.Altura)
                        </div>
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.Peso)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.Peso)
                        </div>
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.CorPele)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.CorPele)
                        </div>
                    </div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <div class="row">
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.CorOlhos)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.CorOlhos)
                        </div>
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.CorCabelo)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.CorCabelo)
                        </div>
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.TexturaCabelo)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.TexturaCabelo)
                        </div>
                    </div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <div class="row">
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.GrupoSanguineo)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.GrupoSanguineo)
                        </div>
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.Etnia)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.Etnia)
                        </div>
                    </div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#" style="background:#f2f2f2"><b>Outros detalhes</b></a></li>
                    </ul>
                    <p></p>
                    <div class="row">
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.IniciaisDador)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.IniciaisDador)
                        </div>
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.FaseDador)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.FaseDador)
                        </div>

                        <div class="col-md-2">
                            <b> @Html.DisplayNameFor(model => model.EstadoDador)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.EstadoDador)
                        </div>
                    </div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <div class="row">
                        
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.NumAbortos)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.NumAbortos)
                        </div>
                        <div class="col-md-2">
                            <b>@Html.DisplayNameFor(model => model.TotalGestacoes)</b>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => model.TotalGestacoes)
                        </div>
                    </div>
                </dl>

            </div>
            <div> 
            </div>
            <div class="form-group">
                <input type="submit" value="Aceite" class="btn btn-default" asp-for="DadosDador"/>
                <input type="submit" value="Rejeitado" class="btn btn-default" asp-for="DadosDador"/>
            </div>
        </form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
