@model GAM.Models.Laboratorio.Amostra

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Amostra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoAmostra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoAmostra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoAmostra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoAmostra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataRecolha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataRecolha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NrAmosta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NrAmosta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dador.DadorId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AmostraId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
