@model GAM.Models.Laboratorio.Amostra

@{
    ViewData["Title"] = "Detalhes";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        //background-color: #00a3cc;
        background-color: #c2bcbf;
        //color: white;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
</style>
<p></p>
<p></p>

<h2>Detalhes criopreservação das amostras</h2>

<div>
    <hr />
    <p></p><p></p>

    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.EstadoAmostra)</td>
            <td>@Html.DisplayFor(model => model.EstadoAmostra)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.TipoAmostra)</td>
            <td>@Html.DisplayFor(model => model.TipoAmostra)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DataRecolha)</td>
            <td>@Html.DisplayFor(model => model.DataRecolha)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.NrAmosta)</td>
            <td>@Html.DisplayFor(model => model.NrAmosta)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Dador)</td>
            <td>@Html.DisplayFor(model => model.Dador.DadorId)</td>

        </tr>
    </table>

</div>
<p></p><p></p><p></p>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AmostraId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
