@using System.ComponentModel.DataAnnotations.Schema
@using GAM.Helpers
@using GAM.Models.Enums
@model IEnumerable<GAM.Models.Laboratorio.Amostra>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Trabalhos</h2>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        //background-color: #00a3cc;
        background-color: #c2bcbf;
        //color: white;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
</style>

<div>
    <hr />
    <p></p><p></p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoAmostra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoAmostra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataRecolha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocalizacaoAmostra.Banco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocalizacaoAmostra.Piso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocalizacaoAmostra.Cannister)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocalizacaoAmostra.GlobetCor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocalizacaoAmostra.GlobetNumero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocalizacaoAmostra.PalhetaCor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dador)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoAmostra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoAmostra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataRecolha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalizacaoAmostra.Banco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalizacaoAmostra.Piso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalizacaoAmostra.Cannister)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalizacaoAmostra.GlobetCor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalizacaoAmostra.GlobetNumero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalizacaoAmostra.PalhetaCor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dador.DadorId)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.AmostraId"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



