@model IEnumerable<GAM.Models.DadorViewModels.Dador>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Possíveis Dadores</h2>

<p>
   
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IniciaisDador)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.DataNasc)</th>
            <th>@Html.DisplayNameFor(model => model.Nacionalidade)</th>
            <th>@Html.DisplayNameFor(model => model.GrupoSanguineo)</th>
            <th>@Html.DisplayNameFor(model => model.EstadoDador)</th>
            <!--<th><a asp-action="Create"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></a></th>-->
        </tr>
    </thead> 
    <tbody>
    @{
        foreach (var dador in Model)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => dador.IniciaisDador)
                </th>
                <td>@Html.DisplayFor(modelItem => dador.Nome)</td>
                <td>@Html.DisplayFor(modelItem => dador.DataNasc)</td>
                <td>@Html.DisplayFor(modelItem => dador.Nacionalidade)</td> 
                <td>@Html.DisplayFor(modelItem => dador.GrupoSanguineo)</td>
                <td>@Html.DisplayFor(modelItem => dador.EstadoDador)</td>
                <td>
                    <a asp-action="SelectMatch" asp-route-id="@dador.DadorId" asp-route-casalid="@ViewBag.CasalId"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>