@using GAM.Models
@using GAM.Models.PMA
@model IEnumerable<GAM.Models.PMA.MatchStats>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Lista de Casais</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MatchStatsId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Casal.PedidoGametas.Centro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Casal.PedidoGametas.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CasalId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DadorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Casal.PedidoGametas.AmostraId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MatchStatsId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Casal.PedidoGametas.Centro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Casal.PedidoGametas.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CasalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DadorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Casal.PedidoGametas.AmostraId)
                </td>
                <td>
                    <a asp-action="ValidaMatchAmostra" asp-route-id="@item.Casal.PedidoGametas.PedidoGametasId"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
