@model IEnumerable<GAM.Models.DadorViewModels.Dador>

@{
    ViewData["Title"] = "Index";
}

<h2>Consulta de Destinos de Gâmetas</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IniciaisDador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNasc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nacionalidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GrupoSanguineo)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IniciaisDador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrupoSanguineo)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.DadorId"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></a>
            </td>
        </tr>
}
    </tbody>
</table>
