@model GAM.Models.RegistoMaterial.Material

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeUtilizada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeUtilizada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Espermograma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Espermograma.EspermogramaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaterialId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
