@model GAM.Models.DadorViewModels.Dador

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes do doador</h2>

<div>
    <dl class="dl-horizontal section">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#" style="background:#f2f2f2"><b>Dados pessoais</b></a></li>
        </ul>
        <p></p>

        <div class="row">
            <div class="col-md-2">
                <b> @Html.DisplayNameFor(model => model.Nome)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.Nome)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.Morada)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.Morada)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.DataNasc)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.DataNasc)
            </div>
        </div>
        <p></p>
        <p></p>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.LocalNasc) </b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.LocalNasc)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.DocIdentificacao) </b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.DocIdentificacao)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.Nacionalidade)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.Nacionalidade)
            </div>
        </div>
        <p></p>
        <p></p>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.Profissao)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.Profissao)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.GrauEscolaridade)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.GrauEscolaridade)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.EstadoCivil)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.EstadoCivil)
            </div>
        </div>
        <p></p>
        <p></p>
        <p></p> 
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#" style="background:#f2f2f2"><b>Dados físicos</b></a></li>
        </ul>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.Altura)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.Altura)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.Peso)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.Peso)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.CorPele)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.CorPele)
            </div>
        </div>
        <p></p>
        <p></p>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.CorOlhos)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.CorOlhos)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.CorCabelo)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.CorCabelo)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.TexturaCabelo)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.TexturaCabelo)
            </div>
        </div>
        <p></p>
        <p></p>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.GrupoSanguineo)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.GrupoSanguineo)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.Etnia)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.Etnia)
            </div>
        </div>
        <p></p>
        <p></p>
        <p></p>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#" style="background:#f2f2f2"><b>Outros detalhes</b></a></li>
        </ul>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.IniciaisDador)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.IniciaisDador)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.FaseDador)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.FaseDador)
            </div>

            <div class="col-md-2">
                <b> @Html.DisplayNameFor(model => model.EstadoDador)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.EstadoDador)
            </div>
        </div>
        <p></p>
        <p></p>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.DadosDador)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.DadosDador)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.NumAbortos)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.NumAbortos)
            </div>
            <div class="col-md-2">
                <b>@Html.DisplayNameFor(model => model.TotalGestacoes)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.TotalGestacoes)
            </div>
        </div>
        </dl>
       
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
